@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  background-color: #121212;
  color: #fff;
}

.sidebar-menu {
  /* width: 231px; */
  background-color: #000000;
  height: 100vh;
  position: fixed;
}

.sidebar-menu-item {
  color: #9c9c9c;
}

.sidebar-menu-item:hover {
  color: #fafafa;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-title {
  padding: 30px 0px 30px 0;
}

.footer-item {
  font-size: 12px;
  color: #9c9c9c;
  margin-right: 10px;
}

.login-button {
  background-color: #fafafa;
  padding: 10px 20px;
  color: #000000;
  border-radius: 60px;
}

.login-button:hover {
  background-color: #fafafa;
  font-weight: bold;
  cursor: pointer;
}

.signup-button {
  color: #9c9c9c;
}

.signup-button:hover {
  color: #fafafa;
  cursor: pointer;
}

.header-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: #101010;
}

.homepage {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  z-index: -2;
}

.card-song-menu .card-song {
  /* background-color: transparent; */
  background-color: #28282856;
}

.card-song-menu .card.card-song:hover {
  background-color: #282828;
  cursor: pointer;
}

.form-login-signup {
  margin-top: 60px;
  max-width: 600px;
}

.form-login-signup h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-login-signup button {
  width: 100%;
  background-color: gray;
  color: #fafafa !important;
}

.dark-modal .modal-content {
  background-color: #333;
  color: #fff;
}
.dark-modal .modal-header {
  border-bottom: 1px solid #444;
}
.dark-modal .modal-footer {
  border-top: 1px solid #444;
}