<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/music/" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="title"><br>
        <input type="text" name="artist" placeholder="artist"><br>
        <input type="text" name="user_id" placeholder="user_id"><br>
        <textarea name="lirik" id="" cols="30" rows="10"></textarea><br>
        <input type="file" name="file_music" placeholder="file_music"><br>
        <input type="file" name="file_thumbnail" placeholder="file_thumbnail"><br>
        <input type="text" name="genre" placeholder="genre"><br>
        <button type="submit">simpan</button>
    </form>
</body>
</html>

<!-- title = request.form.get('title')
artist = request.form.get('artist')
user_id = request.form.get('user_id')
lirik = request.form.get('lirik')
file_music = request.form.get('file_music')
file_thumbnail = request.form.get('username') -->